.Heading {
    display: flex;
    justify-content: center;

}

.dropdown {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 1350px;
    padding: auto;
    padding-top: 30px;
}

.heading2 {
    text-align: center;

}
.testimonials {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
 
.testimonial-container {
    display: flex;
    overflow: hidden;
    max-height: 300px; /* Set a fixed height for the container */
    max-width: fit-content;
  }
  
.testimonial-slider {
    display: flex;
    gap: 20px; /* Adjust as needed */
    transition: transform 0.5s ease-in-out;
  }
  
.testimonial {
    flex: 0 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
  }
  
.client-name {
    margin-top: 10px;
    font-weight: bold;
  }