img {
    display: block;
    margin: 0 auto;
}

.Container {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.Button-Container {
    text-align: center; 
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 0px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
.Button-Container button {
    display: inline-block;
    margin: 5px; 
    padding: 10px; 
  }
  
