button {
    height: 100px;
    width: 200px;
    background-color: lightblue;
    transition: transform 0.2s ease-in-out;
    justify-content: space-evenly;
}

button:hover {
    transform: scale(1.5);
}

body {
    text-align: center;
    margin-top: 300px;
    background-color: aliceblue;
}